.container {
  width: 726px;
  margin: 0 auto;
}
.postTitle1 {
  text-align: center;
  margin-top: 100px;
  margin: 37px;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.image {
  width: 300px;
  height: 300px;
  float: right;
  border-radius: 50%;
  margin-left: 15px;
}
.postbottom {
  margin: 15px 0 15px 0;
}
.content {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}
