.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://app.toomarketer.com/Content/Images/login-background.jpg");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
}
.registerFrom {
  margin-top: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
}
.registerFromButton {
  width: 250px;
  align-self: center;
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(221, 130, 160);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
}
.registerFrom > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  align-content: center;
}
.registerLoginFrom {
  width: 200px;
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(178, 218, 204);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
}
.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}
.registerFbGg {
  text-align: center;
  margin-top: 15px;
}
.registerFB {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
}
.iconFb {
  font-size: 20px;
  margin-right: 10px;
}
