.header {
  margin-top: 30px;
}
.headerTitles {
  display: flex;
  /* sắp xếp theo cột từ trên xuống */
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: rgb(94, 90, 90);
}
.headerTitelRN {
  position: absolute;
  top: 13%;
  font-size: 20px;
}
.headerTitelBlog {
  position: absolute;
  top: 14%;
  font-size: 100px;
}
.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 72px;
  object-fit: cover;
}
