.sidebar {
  flex: 3;
  margin: 13px 20px 20px 20px;
  padding-bottom: 30px;
  background-color: #fdfdfd;
  border-radius: 10px;
  height: 780px;
}
.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebarTitle {
  margin: 10px;
  padding: 7px;
  width: 80%;
  text-align: center;
  border-top: solid 2px #a7a4a7;
  border-bottom: solid 2px #a7a4a7;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
}
/* chọn các phần tử con img có phần tử cha là sidebarItem */
.sidebarItem > img {
  margin-top: 10px;
  width: 90%;
  height: 90%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5%;
  /* thu hinh theo border */
  object-fit: cover;
}
.sidebarItem > p {
  margin-top: 5px;
  padding: 15px;
}
.sidebarList {
  list-style: none;
  margin-bottom: 15px;
}
.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}
.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebarIcon {
  font-size: 26px;
  margin-left: 20px;
  cursor: pointer;
}
